.consult {
  margin: 1.5rem auto 0.5rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.consult-text {
  padding: 2rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.social {
  margin-left: 1rem;
}