.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading-1 {
  margin: 0;
}

.card-service {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.spacer {
  height: 3rem;
}

.card-team {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.contributor-img {
  border-radius: 50%;
}

.social {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.card-container-margin {
  margin: 2rem 0 3rem;
}

.testmonial-card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.testmonial-head {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.projects {
  position: relative;
  height: 33em;
  width: 100%;
  overflow: hidden;
}

.project {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.project-image {
  border-radius: var(--radius);
  overflow: hidden;
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start
}

// For tablet and laptop only
@media (min-width: 600px) {

  .service {
    padding: 0 3rem;
  }

  .team {
    gap: 0.5rem;
    padding: 0 20%;
  }

  .projects {
    height: 23em;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}