
h1 {
  font-weight: 500;
}

h3,
h2 {
  line-height: 1.3!important;
}

h2 {
  margin-top: 2rem;
}

strong {
  font-weight: 500;
}

ul {
  padding-left: 2rem!important;
}

li {
  margin-bottom: 0.3rem;
}

blockquote {
  p {
    font-weight: 500;
    margin: 0;
  }

  a {
    text-decoration: underline;
    color: white;
  }
}

table {
  min-width: 100%;
  border-radius: var(--radius);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

td {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

thead {
  font-size: 14px!important;
  font-weight: 400!important;
}

th,
td {
  padding: 0.5rem;
}

// Code File
h3 {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 0!important;
  border-bottom: 2px solid #212121;
  border-radius: var(--radius) var(--radius) 0 0;
  color: white;
  background-color: #424242!important;
  padding: 0.5rem 1rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

pre {
  margin-top: 0!important;
  margin-bottom: 1rem!important;
  border-radius: 0 0 var(--radius) var(--radius);
  background-color: #424242!important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

div.code-toolbar > .toolbar {
  color: red;
  top: -3em;
  right: -2em;
}

.related-list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;

  img {
    border-radius: var(--radius);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
}



.ad {
  height: 10em;
}


// For laptops only
@media (min-width: 800px) {

  .article {
    display: grid;
    grid-template-columns: 650px auto;
    gap: 1rem;
  }

  

}