.section-heading {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.title-text {
  padding-right: 1rem;
}

.show-text {
  padding-right: 0.5rem;
}

.hover-text {
  display: none;
}

.section-heading:hover {
  cursor: pointer;

  .normal-text {
    display: none;
  }

  .hover-text {
    display: inline-block;
  }
}
