<div class="section-heading" [routerLink]="['topic', topicName]">
  <span class="mat-display-1 title-text">
    {{ title }}
  </span>

  <span class="normal-text">
    <span class="mat-display-1">
      <i class="fas fa-angle-right"></i>
    </span>
  </span>

  <span class="mat-body-2 hover-text show-text">
    Show All
  </span>

  <span class="mat-title hover-text">
    <i class="fas fa-angle-right"></i>
  </span>
</div>

<cpio-topic #scrollMe class="hs-container" [topics]="topics">
</cpio-topic>

<div class="centered-buttons">
  <button mat-stroked-button (click)="onPrevClick()" [disabled]="disableNgPrev">
    <mat-icon>chevron_left</mat-icon>
    Prev
  </button>
  <button mat-stroked-button (click)="onNextClick()" [disabled]="disableNgNext">
    Next
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<br><br>