// .section-heading {
//   margin: 1rem;
//   display: flex;
//   justify-content: center;
// }

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
}

.card-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.author-section {
  display: flex;
  gap: 1rem;
}

.article-date {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.faCircle {
  font-size: 0.2rem;
}

.mat-card-image {
  margin-bottom: 0!important;
}