.root-container {
  position: relative;
}

.header {
  margin: 0 auto;
  padding: 0 0.5rem;
  height: 50px;
}

// .light-header {
//   background-color: #FFFFFF!important;
// }

// .dark-header {
//   background-color: #222220!important;
// }

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1.5rem 1rem 1rem;

  display: flex;
  flex-direction: column;
}

.floating-button {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
}

.related {
  color: #B0BEC5;
}